<div class = "page-header">
  <div class ="container">
    <h1>VisaManagement</h1>
  </div>

</div>

<div class = "container">

  <div class="row end-xs mt-1" >

  </div>
  <div class = "mt-1 mat-elevation-z8">
    <table mat-table  [dataSource]="dataSource" class="">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->





      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef > Full Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- ssn Column -->
      <ng-container matColumnDef="workAuth">
        <th mat-header-cell *matHeaderCellDef> Work Authorization </th>
        <td mat-cell *matCellDef="let element"> {{element.workAuth}} </td>
      </ng-container>

      <!-- visastatus Column -->
      <ng-container matColumnDef="dayLeft">
        <th mat-header-cell *matHeaderCellDef > DayLeft </th>
        <td mat-cell *matCellDef="let element"> {{element.dayLeft}} </td>
      </ng-container>

     <!-- Edit Column -->
     <ng-container matColumnDef="ActionRequired">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/visamanage/', element.personID]">
          <mat-icon color="primary">edit</mat-icon>
        </a>
      </td>
    </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>

  </div>

</div>
